@model List<DescontosModel>
@{
    ViewData["Title"] = "Folhas Geradas";
}
<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-context-md-start">
        <a class="btn btn-primary" role="button" asp-controller="FolhaPagamento" asp-action="Create"> Criar Nova Folha </a>
    </div>
    <br />
    <h1>@ViewData["Title"]</h1>
    <br />
    <br />
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }
    <br />

    <p>Folhas Geradas até o momento.</p>


    <table class="table" id="tabela-usuarios">
        <thead>
            <tr>
                <th scope="col">Identificão do funcionário</th>
                <th scope="col">Nome</th>
                <th scope="col">Cargo</th>
                <th scope="col">Salario</th>
                <th scope="col">Atrasos</th>
                <th scope="col">Faltas</th>
                <th scope="col">HorasExtras</th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var usuario in Model)
                {
                    <tr>

                        <th scope="row">@usuario.Id_Usuario</th>
                        <th scope="row" >@usuario.NomeFuncionario</th>
                        <th scope="row">@usuario.Cargo</th>
                        <th scope="row">@usuario.SalarioBruto</th>
                        <th scope="row">@usuario.Atraso</th>
                        <th scope="row">@usuario.Faltas</th>
                        <th scope="row">@usuario.HoraExtra</th>

                    </tr>



                }
            }

        </tbody>
    </table>



</div>